@import 'styles/vars.scss';

.accordion {
  background-color: $dark_buttons;
  color: $light;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  transition: 0.3s;
  border-radius: 1rem;
}
.accordion:hover {
  color: $primary;
}
.panel {
  margin-top: 1.5rem;
  border-radius: 1rem;
  max-height: 0;
  overflow: hidden;
  background-color: $dark_primary;
  transition: max-height 0.2s ease-out;
}
