@import 'styles/vars.scss';

.table-container {
  background-color: $dark-buttons;
}
.accordions-container {
  display: flex;
  gap: 2rem;
  > * {
    width: 100%;
  }
}
.exp-heading {
  font-size: 2.5rem;
}
.divider {
  border-bottom: 1px solid $primary;
  margin: 2rem 0;
}
@media only screen and (max-width: 600px) {
  .exp-heading {
    text-align: center;
  }
}
.expenses {
  color: #fff !important;
}
.modify-inputs {
  input {
    background-color: #323236;
  }
  select {
    background-color: #323236 !important;
  }
  option {
    background-color: #323236 !important;
  }
}
