.form-input {
  width: 100%;
  outline: none;
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.form-label {
  display: block;
  margin-bottom: 0.5rem;
}
