@import 'vars.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $dark_primary;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// DELETE INPUT ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// MARGINS
@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: $i * 0.5 + rem !important;
  }
}
@for $i from 1 through 20 {
  .mr-#{$i} {
    margin-right: $i * 0.5 + rem !important;
  }
}
@for $i from 1 through 20 {
  .mb-#{$i} {
    margin-bottom: $i * 0.5 + rem !important;
  }
}
@for $i from 1 through 20 {
  .ml-#{$i} {
    margin-left: $i * 0.5 + rem !important;
  }
}

// PADDINGS
@for $i from 1 through 20 {
  .pt-#{$i} {
    padding-top: $i * 0.5 + rem !important;
  }
}
@for $i from 1 through 20 {
  .pr-#{$i} {
    padding-right: $i * 0.5 + rem !important;
  }
}
@for $i from 1 through 20 {
  .pb-#{$i} {
    padding-bottom: $i * 0.5 + rem !important;
  }
}
@for $i from 1 through 20 {
  .pl-#{$i} {
    padding-left: $i * 0.5 + rem !important;
  }
}

// FONT SIZES
@for $i from 1 through 54 {
  .font-#{$i} {
    font-size: $i * (1/10) + rem !important;
  }
}

.auth-container {
  h1 {
    font-size: 2.7rem;
    margin-bottom: 1.4rem !important;
  }
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-primary {
  color: $primary;
}
.text-light {
  color: $light;
}
.d-inline-block {
  display: inline-block;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.d-flex {
  display: flex;
}
.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-100 {
  width: 100%;
}
