$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

$light: #eceee4;
$dark_primary: #16151a;
$dark_buttons: #222227;
$primary: #6164ff;
$light_primary: #4d61aa;
$danger: #b6332e;
$pink: #d18793;
